# Configuration file

general {
    S:modPack=Vanilla
    S:modPackVersion=1.0
    B:spammyLogs=false

    optout {
        B:OS=false
        B:clientTime=false
        B:environment=false
        B:installID=false
        B:javaVersion=false
        B:minecraftVersion=false
        B:modPack=false
        B:modPackVersion=false
        B:ramAllocated=false
        B:ramMax=false
        B:sessionID=false

        mods {
            B:FML=false
            B:actuallyadditions=false
            B:ambience=false
            B:animania=false
            B:applecore=false
            B:appleskin=false
            B:autoreglib=false
            B:baubles=false
            B:bdlib=false
            B:binniecore=false
            B:binniedesign=false
            B:biomesoplenty=false
            B:botania=false
            B:botany=false
            B:cfm=false
            B:chameleon=false
            B:chisel=false
            B:chiselsandbits=false
            B:chococraft=false
            B:claysoldiers=false
            B:codechickenlib=false
            B:cofhcore=false
            B:cofhworld=false
            B:com.elytradev.movingworld.common.asm.coremod=false
            B:computercraft=false
            B:configmod=false
            B:cookingforblockheads=false
            B:corail_pillar=false
            B:corail_pillar_extension_biomesoplenty=false
            B:corail_pillar_extension_forestry=false
            B:corail_pillar_extension_quark=false
            B:coroutil=false
            B:craftstudioapi=false
            B:crafttweaker=false
            B:crafttweakerjei=false
            B:davincisvessels=false
            B:extendedrenderer=false
            B:extrabees=false
            B:extratrees=false
            B:farmingforblockheads=false
            B:flatcoloredblocks=false
            B:forestry=false
            B:forge=false
            B:gendustry=false
            B:genetics=false
            B:gravestone=false
            B:gravitygun=false
            B:hammercore=false
            B:harvestcraft=false
            B:hats=false
            B:ichunutil=false
            B:immersiveengineering=false
            B:inventorytweaks=false
            B:ironchest=false
            B:ivtoolkit=false
            B:jehc=false
            B:jei=false
            B:jeibees=false
            B:jepb=false
            B:journeymap=false
            B:malisiscore=false
            B:malisisdoors=false
            B:mantle=false
            B:mcp=false
            B:mekanism=false
            B:mekanismgenerators=false
            B:mekanismtools=false
            B:mercurius_updater=false
            B:minecraft=false
            B:mob_grinding_utils=false
            B:modtweaker=false
            B:morpheus=false
            B:movingworld=false
            B:mtlib=false
            B:natura=false
            B:netherportalfix=false
            B:plustic=false
            B:quark=false
            B:quickleafdecay=false
            B:randomthings=false
            B:rangedpumps=false
            B:reborncore=false
            B:reccomplex=false
            B:redstoneflux=false
            B:roguelike=false
            B:sanlib=false
            B:sanplayermodel=false
            B:securitycraft=false
            B:solarfluxreborn=false
            B:solarfluxreborncore=false
            B:spiceoflife=false
            B:sponge=false
            B:spongeapi=false
            B:stellarapi=false
            B:stellarsky=false
            B:stevescarts=false
            B:storagedrawers=false
            B:sync=false
            B:tconstruct=false
            B:theoneprobe=false
            B:thermalcultivation=false
            B:thermaldynamics=false
            B:thermalexpansion=false
            B:thermalfoundation=false
            B:topaddons=false
            B:torchmaster=false
            B:tumbleweed=false
            B:twilightforest=false
            B:vc=false
            B:weather2=false
        }

    }

}


